NET "DSCART_CLK" LOC = "P22";
NET "DSCART_EEPCS" LOC = "P19";
NET "DSCART_IO<0>" LOC = "P16";
NET "DSCART_IO<1>" LOC = "P14";
NET "DSCART_IO<2>" LOC = "P13";
NET "DSCART_IO<3>" LOC = "P12";
NET "DSCART_IO<4>" LOC = "P8";
NET "DSCART_IO<5>" LOC = "P7";
NET "DSCART_IO<6>" LOC = "P6";
NET "DSCART_IO<7>" LOC = "P5";
NET "DSCART_IRQ" LOC = "P18";
NET "DSCART_RESET" LOC = "P20";
NET "DSCART_ROMCS" LOC = "P21";
NET "DSSLOT_CLK" LOC = "P28";
NET "DSSLOT_EEPCS" LOC = "P31";
NET "DSSLOT_IO<0>" LOC = "P37";
NET "DSSLOT_IO<1>" LOC = "P38";
NET "DSSLOT_IO<2>" LOC = "P39";
NET "DSSLOT_IO<3>" LOC = "P40";
NET "DSSLOT_IO<4>" LOC = "P41";
NET "DSSLOT_IO<5>" LOC = "P42";
NET "DSSLOT_IO<6>" LOC = "P2";
NET "DSSLOT_IO<7>" LOC = "P3";
NET "DSSLOT_IRQ" LOC = "P32";
NET "DSSLOT_RESET" LOC = "P30";
NET "DSSLOT_ROMCS" LOC = "P29";
NET "LED0" LOC = "P23";
#NET "LED1" LOC = "P27";
